<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMainDatabaseLabel" jhiTranslate="descaApp.mainDatabase.home.createOrEditLabel">Create or edit a Main Database</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mainDatabase.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mainDatabase.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="descaApp.mainDatabase.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                [(ngModel)]="mainDatabase.number" required/>
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="descaApp.mainDatabase.intitution" for="field_intitution">Intitution</label>
            <input type="text" class="form-control" name="intitution" id="field_intitution"
                [(ngModel)]="mainDatabase.intitution" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="descaApp.mainDatabase.memberState" for="field_memberState">Member State</label>
            <select class="form-control" id="field_memberState" name="memberState" [(ngModel)]="mainDatabase.memberStateId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="memberStateOption.id" *ngFor="let memberStateOption of memberstates; trackBy: trackMemberStateById">{{memberStateOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="descaApp.mainDatabase.judicialProcessType" for="field_judicialProcessType">Judicial Process Type</label>
            <select class="form-control" id="field_judicialProcessType" name="judicialProcessType" [(ngModel)]="mainDatabase.judicialProcessTypeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="judicialProcessTypeOption.id" *ngFor="let judicialProcessTypeOption of judicialprocesstypes; trackBy: trackJudicialProcessTypeById">{{judicialProcessTypeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
