
<div *ngIf="mainDatabase">
    <h2><span jhiTranslate="descaApp.mainDatabase.detail.title">Main Database</span> {{mainDatabase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="descaApp.mainDatabase.number">Number</span></dt>
        <dd>
            <span>{{mainDatabase.number}}</span>
        </dd>
        <dt><span jhiTranslate="descaApp.mainDatabase.intitution">Intitution</span></dt>
        <dd>
            <span>{{mainDatabase.intitution}}</span>
        </dd>
        <dt><span jhiTranslate="descaApp.mainDatabase.resolutionDate">Resolution Date</span></dt>
        <dd>
            <span>{{mainDatabase.resolutionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="descaApp.mainDatabase.memberState">Member State</span></dt>
        <dd>
            <div *ngIf="mainDatabase.memberStateId">
                <a [routerLink]="['/member-state', mainDatabase.memberStateId]">{{mainDatabase.memberStateId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="descaApp.mainDatabase.judicialProcessType">Judicial Process Type</span></dt>
        <dd>
            <div *ngIf="mainDatabase.judicialProcessTypeId">
                <a [routerLink]="['/judicial-process-type', mainDatabase.judicialProcessTypeId]">{{mainDatabase.judicialProcessTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="descaApp.mainDatabase.descaWayByC">Desca Way By C</span></dt>
        <dd>
            <div *ngIf="mainDatabase.descaWayByCId">
                <a [routerLink]="['/desca-way-by-c', mainDatabase.descaWayByCId]">{{mainDatabase.descaWayByCId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'main-database/'+ mainDatabase.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
